@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}


#backgroundindex {
    display: inline-block;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.09), rgba(0, 0, 0, 0.4)), no-repeat fixed;
    background-size: cover;
    background-position: center;
    -webkit-animation: fadein 2s;

}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


#navi {
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    clear: both;
}



#titlelogo {
    margin: 5px 0 0 40px;
    float: left;
}

#main > li > a {
    display: block;
}

#main {
    font-size: 17px;
    float: right;
    margin-right: 20px;
}

#main > li {
    float: right;
    width: 170px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.sub > li {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 250ms ease-in-out;
}

.sub > li > a {
    display: block;
}

.sub > li > a:after {
    display: block;
    content: '';
    border-bottom: solid 2px #fff;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.sub > li > a:hover:after {
    transform: scaleX(1);
}

#main > li:hover .sub > li {
    visibility: visible;
    opacity: 1;
}

#blackbox {
    position: absolute;
    width: 500px;
    height: 460px;
    left: 30px;
    top: 27%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

#logo {
    position: absolute;
    width: 150px;
    left: 175px;
    top: 55px;
}

#text {
    position: relative;
    text-align: center;
    top: 230px;
    color: white;
    line-height: 30px;
}

#text > h2 {
    font-size: 30px;
    font-weight: 100;
    font-family: 'Nanum Gothic', sans-serif;
    margin-bottom: 15px;
}

#text > p {
    font-size: 16px;
}

#adress {
    position: absolute;
    top: 360px;
    left: 120px;
}

#adress > a {
    margin: 5px;
}

#footer {
    position: relative;
    top: 94%;
    text-align: center;
}

#footer > p {
    margin-top: 15px;
    font-size: 13px;
    color: white;
    opacity: 0.7;
}

#footer > hr {
    width: 96%;
    position: relative;
    left: 2%;
    border: 0.5px inset #fff;

}

#mobile-nav {
    display: none;
}

@media screen and (max-width:850px) {
    #navi > #main > li {
        display: none;
    }

    #mobile-nav {
        width: 100%;
        height: 50px;
        position: absolute;
        display: block;
    }

    #mobile-menu {
        float: right;
    }

    #cate {
        margin: 12px 20px 0 0;
    }

    #cate:hover {
        cursor: pointer;
    }

    .backstretch {
        display: none;
    }


}

#mobile-main {
    display: none;
}
